{% extends 'base.html' %}
{% load static %}

{% block title %} Settings {% endblock %}

{% block content %}
<br>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="sidenav" style="width: 115px; padding-top: 100px;">
        <ul class="list-group list-group-flush">
            <center>
            <li class="list-group-item disabled" aria-disabled="true" style="color:  #f99108;"><center><b>Settings</b></center></li>
            <li class="list-group-item" aria-current="true"><a href="{% url 'user:update_profile' %}">Profile</a></li>
            <li class="list-group-item"><a href="{% url 'user:settings'%}">Preferences</a></li>
            <li class="list-group-item"><a href="{% url 'user:account_setting' %}">Account</a></li>
            </center>
        </ul>
    </div>

    <div class="main">
        {% block setting %}
        {% endblock %}
    </div>


{% endblock %}