{% extends 'settings/base_settings.html' %}

{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block setting %}
    <center><h1 style="margin-top: 2%">Edit Profile</h1></center>
    <a class="btn btn-dark" href="{% url 'user:reset_preferences' %}" role="button">Reset Preferences</a>
    <a class="btn btn-dark" href="{% url 'user:delete_account' %}" role="button">Delete Profile</a>
    <form method="POST" enctype="multipart/form-data" action="/user/update_profile/">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <br>
{% endblock %}