{% extends 'settings/base_settings.html' %}

{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block setting %}
    <center><h1 style="margin-top: 2%">Edit Profile</h1></center>
    <div>
        <button type="button" class="btn btn-outline-light" style="margin:0 auto; display:block;" data-bs-toggle="modal" data-bs-target="#resetprefsmodal">Reset Preferences</button>
    </div>
    {% include 'settings/resetpreferences_popup.html' %}

    <div>
        <button type="button" class="btn btn-outline-light" style="margin:0 auto; display:block;" data-bs-toggle="modal" data-bs-target="#deleteaccountmodal">Delete Account</button>
    </div>
    {% include 'settings/deleteaccount_popup.html' %}

    <form method="POST" enctype="multipart/form-data" action="/user/update_profile/">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <br>
{% endblock %}