{% load static %}
<!-- Included in results.html -->   
<div class="modal fade" id="addtoplaylistmodal{{ song.0 }}" tabindex="-1" aria-labelledby="myAddSongModalLabel" aria-hidden="true"  style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title" id="myAddSongModalLabel">Add Song</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <center>
                        <iframe src='https://open.spotify.com/embed/track/{{ song.1 }}' height="80"; class="wp-block-embed-spotify spRound" frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>    
                        <br>                            
                        <p style="font-weight: bold;">Select a playlist to add your song to:</p>
                    </center>

                    <input type="hidden" id="track_id{{ song.0 }}" name="track_id" value="{{ song.1 }}">
                    <select class="form-select" aria-label="Default select example" name="playlist_id" id="playlist_id{{ song.0 }}">
                        {% for playlist in playlists %}
                            <!-- Don't allow a user to add a song to the My Liked Songs playlist -->
                            {% if playlist != loggedin.liked_songs_playlist_fk %}
                                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    
                    <div class="alert{{ song.0 }} alert alert-success" role="alert" style="display: none">
                        Song successfully added to playlist!
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default modalClose" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary popupbtn{{ song.0 }} modalBtn" style="display: block">Submit</button>
                    <button id="load{{ song.0 }}" class="btn btn-primary" type="button" disabled style="display: none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<script>
    $('.popupbtn{{ song.0 }}').click(function(e) {
        $('#load{{ song.0 }}').show();
        $('.popupbtn{{ song.0 }}').hide();
        e.preventDefault();
        var song = $('#track_id{{ song.0 }}').val();
        var playlist = $('#playlist_id{{ song.0 }}').val();
        var location = $('#location').val();
        $.ajax({
            type: 'POST',
            url: '/user/addsong/' + location,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                track_id: song,
                playlist_id: playlist,
            },
            success: function(json){
                if (json['status'] == 'ok') {
                    setTimeout(function() {
                        $('#load{{ song.0 }}').hide();
                        $('.popupbtn{{ song.0 }}').show();
                        $('.alert{{ song.0 }}').show();

                    }, 2000);
                }
                if (json['status'] == 'reload') {
                    setTimeout(function() {
                        $('#load{{ song.0 }}').hide();
                        $('.popupbtn{{ song.0 }}').show();
                        $('.alert{{ song.0 }}').show();
                        window.history.back();
                    }, 2000);
                    setTimeout(function() {
                        window.location.reload(true);
                    }, 4000);
                }


            },
            error: function(xhr, errmsg, err) {}
        })
        return false;
    })
</script>