{% load static %}
<!-- Included in results.html -->   
<div class="modal fade" id="addtoplaylistmodal{{ song }}" tabindex="-1" aria-labelledby="myAddSongModalLabel" aria-hidden="true"  style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'user:add_song_popup' term%}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title" id="myAddSongModalLabel">Add Song</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <input type="hidden" id="track_id" name="track_id" value="{{ song }}">
                    <select name="playlist_id" id="playlist_id">
                        {% for playlist in playlists %}
                        <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                        {% endfor %}
                      </select>    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
  
<script>
    document.getElementById("post_text").value = "";
</script>