{% extends 'base.html' %}
{% load static %}

{% block title %}Playlists{% endblock %}

{% block content %}

<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    {% if profile.user.id == user.id %}
        My Playlists
    {% else %}
        <a href="{% url 'user:profile' profile.user.id %}">{{ profile.user.username }}</a>'s Playlists:
    {% endif %}
</h1>

{% if profile.user.id == user.id %}
<div class="center" style="width:150px; text-align:center;">
    <button type="button" class="btn btn-dark" onclick="modalClick()" data-bs-toggle="modal" data-bs-target="#createplaylistmodal">
        Create Playlist
    </button>
    {% include 'playlists/popup_playlist.html' %}
</div>
{% endif %}

<br>

<table class="center" style="width:70%;">
    <tr>        
        <th></th>
        <th style="text-align: center;">Title</th>
        <th style="text-align: center;">Date Last Updated</th>
    </tr>
    <!-- You are viewing your own playlists -->
    {% if profile.user.id == user.id %}
        {% for playlist in playlists %}
            <tr style="border-bottom: 1px solid black;">
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">
                    {% if playlist.image %}
                        <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">
                            <img src="{{ playlist.image.url }}" width="70px" height="70px" style="border-radius: 50%;">
                        </a>
                    {% else %}
                        <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">
                            <img src="{% static 'images/noplaylistimage.png' type='image/png' %}" width="70px" height="70px" style="border-radius: 50%;">
                        </a>
                    {% endif %}
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">
                    <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">{{ playlist.name }}</a>
                    {% if playlist.is_private %}
                    <img src="{% static 'images/private.png' type='image/png' %}" width="15px" height="15px">
                    {% endif %}
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">{{ playlist.date_last_updated }}</td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">
                    <a class="btn btn-dark" href="{% url 'user:delete_playlist' playlist.id%}" role="button">Delete</a>
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px;">
                    <a class="btn btn-dark" href="" role="button">Import to Spotify</a>
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px;">
                    <button type="button" class="btn btn-dark" onclick="postModalClick()" data-bs-toggle="modal" data-bs-target="#playlistpostmodal{{ playlist.id }}">
                        Share
                    </button>
                    {% include '../social_feed/popup_playlistpost.html' %}
                </td>
        {% endfor %}
    </tr>
    <!-- You are viewing someone elses playlists -->
    {% else %}
    {% for playlist in playlists %}
        {% if not playlist.is_private %}
            <tr style="border-bottom: 1px solid black;">
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">
                    {% if playlist.image %}
                        <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">
                            <img src="{{ playlist.image.url }}" width="70px" height="70px" style="border-radius: 50%;">
                        </a>
                    {% else %}
                        <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">
                            <img src="{% static 'images/noplaylistimage.png' type='image/png' %}" width="70px" height="70px" style="border-radius: 50%;">
                        </a>
                    {% endif %}
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">
                    <a href="{% url 'user:get_songs_playlist' profile.user.id playlist.id %}">{{ playlist.name }}</a>
                    {% if playlist.is_private %}
                    <img src="{% static 'images/private.png' type='image/png' %}" width="15px" height="15px">
                    {% endif %}
                </td>
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px; padding-right: 10px;">{{ playlist.date_last_updated }}</td>
                {% if playlist.is_shareable%}
                <td class="centered-column" style="padding-top:6px; padding-bottom: 6px;">
                    <button type="button" class="btn btn-outline-light" style="margin:0 auto; display:block;" data-bs-toggle="modal" data-bs-target="#playlistpostmodal{{ playlist.id }}">Share</button>
                    {% include 'social_feed/popup_playlistpost.html' %}
                </td>
                {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
</table>

<script>
    var playlistModal = document.getElementById('createplaylistmodal');
    function modalClick() {
        window.history.pushState({},"", "/profile/createplaylist/");
        playlistModal.show();
    }  

    playlistModal.addEventListener('hidden.bs.modal', function (event) {
        window.history.replaceState({}, "", "{% url 'user:get_playlists' user.id %}")
    })

    var sharePlaylistModal = document.getElementById('playlistpostmodal{{ playlist.id }}');
    function postModalClick() {
        window.history.pushState({},"", "/feed/share_playlistpost/");
        sharePlaylistModal.show();
    }  

    sharePlaylistModal.addEventListener('hidden.bs.modal', function (event) {
        window.history.replaceState({}, "", "{% url 'user:get_playlists' user.id %}")
    })
</script>
{% endblock %}