{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Home{% endblock %}

{% block content %}
<br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <center>
        <!-- <img src="{% static 'images/pengbeats.png' type='image/png' %}" class="img-fluid" alt="..." width="200" height="200"> -->
        <h1>{{ name }} Homepage</h1>
    </center>
    <br>
    <form class='ourSearchForm' method='POST' action='results'>
        {% csrf_token %}
        {{ ourSearchForm }}
        <input type='submit' value='Search' class='ourSearchForm'>
    </form>
    <br>
    <p>We have not created anything yet. We will have a search feature and stuff on it.</p>
    <br>
<br>
{% endblock %}