{% extends 'base.html' %}

{% block title %} {{name}}'s Top Songs {% endblock %}

{% block content %}

<!-- <p>{{ track_ids }}</p> -->

<center><h3>{{ name }}'s Top Songs:</h3></center>
<table>
{% for track in top_tracks %}
    <tr>
        <td>
            <iframe src='https://open.spotify.com/embed/track/{{ track }}'  frameborder='0' allowtransparency='true' allow='encrypted-media' style="height:300px;"></iframe>                                
        </td>
    </tr>
{% endfor %}
</table>


{% endblock %}