{% extends 'base.html' %}

{% load static %}

{% block title %} Artist Search {% endblock %}

{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/artist.css' %}">

<center>

    <form method='post' action="/artistp/">
        {% csrf_token %}
        <br>
        <h1>Spotify Attribute Analyzer</h1>
        <h2>Artist Search</h2>
        <p style="width:770px; text-align: justify; text-align-last: center;">
            Spotify uses a variety of song attributes in order to determine the differences between songs, genres, etc.
            The PengBeats Spotify Attribute Analyzer's Artist Page allows you to search for a specific artist and list
            their songs with the highest/lowest value in certain attribtues.
            The Analyzer Song Page allows you to search for a specific song and will display the attributes of that song
            and its unique Spotify Track ID.
        </p>
        <br>
        <div>
            Artist Name: {{ form.artist_name }}
        </div>

        <button class="submit btn btn-outline-light" type="submit">Analyze</button>
    </form>
    <br>
</center>

{% if highTracks1 %}

<h2> Results for: {{ artist }}</h2>
<center>
    <a class="artist-page btn btn-outline-light" href="{% url 'recommender:artist_info' id %}" role="button"
        target="_blank">Artist Page</a>
</center>

<h3>High-Value Tracks:</h3>
<div id="highTrackCarousel" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="false">
            <div class="table">
                <table class="table">
                    <tbody>
                        <tr>
                            {% for track, feature in highTracks1.items %}
                            <td>
                                <iframe src='https://open.spotify.com/embed/track/{{ track }}' class="spRound" width="290" height="380"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                <h4>{{ feature }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="carousel-item">
            <div class="table">
                <table class="table">
                    <tbody>
                        <tr>
                            {% for track, feature in highTracks2.items %}
                            <td>

                                <iframe src='https://open.spotify.com/embed/track/{{ track }}' class="spRound" width="290" height="380"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                                <h4>{{ feature }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#highTrackCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#highTrackCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endif %}

{% if lowTracks1 %}

<h3>Lowest-Value Tracks:</h3>
<div id="lowTrackCarousel" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="false">
            <div class="table">
                <table class="table">
                    <tbody>
                        <tr>
                            {% for track, feature in lowTracks1.items %}
                            <td>

                                <iframe src='https://open.spotify.com/embed/track/{{ track }}' class="spRound" width="290" height="380"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                                <h4>{{ feature }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="carousel-item">
            <div class="table">
                <table class="table">
                    <tbody>
                        <tr>
                            {% for track, feature in lowTracks2.items %}
                            <td>

                                <iframe src='https://open.spotify.com/embed/track/{{ track }}' class="spRound" width="290" height="380"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                                <h4>{{ feature }}</h4>>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#lowTrackCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#lowTrackCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% endif %}

    {% endblock %}