{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Custom Recommender {% endblock %}

{% block content %}

<h1>Custom Recommender</h1>
<form name="recForm" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <h2>Artists</h2>
                <p>Select up to three.</p>
                <input type="text" class="form-control" id="artistterm" placeholder="Search artists...">
                <div id="search_artists" style="text-align: left;">
                    {% include 'recommender/custom_recommender_artist.html' %}
                </div>
                <div id="final_artists"></div>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Genre</h2>
                <select class="form-select" name="genre" id="genre">
                    <option value="blues">Blues</option>
                    <option value="alternative">Alternative</option>
                    <option value="anime">Anime</option>
                    <option value="classical">Classical</option>
                    <option value="country">Country</option>
                    <option value="disco">Disco</option>
                    <option value="electronic">Electronic</option>
                    <option value="emo">Emo</option>
                    <option value="folk">Folk</option>
                    <option value="opera">Opera</option>
                    <option value="gospel">Gospel</option>
                    <option value="grunge">Grunge</option>
                    <option value="hard-rock">Hard Rock</option>
                    <option value="hip-hop">Hip Hop</option>
                    <option value="indie">Indie</option>
                    <option value="jazz">Jazz</option>
                    <option value="k-pop">K-pop</option>
                    <option value="latin">Latin</option>
                    <option value="metal">Metal</option>
                    <option value="pop">Pop</option>
                    <option value="punk">Punk</option>
                    <option value="r-n-b">R&B</option>
                    <option value="reggae">Reggae</option>
                    <option value="rock">Rock</option>
                    <option value="soul">Soul</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Track</h2>
                <p>Select one.</p>
                <input type="text" class="form-control" id="trackterm" placeholder="Search tracks...">
                <div id="search_tracks" style="text-align: left;">
                    {% include 'recommender/custom_recommender_track.html' %}
                </div>
                <div id="final_tracks"></div>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Track Features</h2>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Acousticness
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="aco" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                        <td>
                            Danceability
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="dan" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                        <td>
                            Energy
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="ene" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                        <td>
                            Instrumentalness
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="ins" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Speechiness
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="spe" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                        <td>
                            Loudness
                            <input type="range" name="feature" min="-60.0" max="0.0" step="1.0" value="-30.0" id="lou" oninput="this.nextElementSibling.value = this.value">
                            <output>-30</output>
                        </td>
                        <td>
                            Tempo
                            <input type="range" name="feature" min="50" max="150" step="1" value="100" id="tem" oninput="this.nextElementSibling.value = this.value">
                            <output>100</output>
                        </td>
                        <td>
                            Valence
                            <input type="range" name="feature" min="0.0" max="1.0" step="0.1" value="0.5" id="val" oninput="this.nextElementSibling.value = this.value">
                            <output>0.5</output>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" id="submit" class="btn btn-dark recBtn">Get Recommendations!</button>
            </td>
        </tr>   
    </table>
</form>
<script src="{% static 'js/custom_recommender_artist.js' %}"></script>
<script src="{% static 'js/custom_recommender_track.js' %}"></script>
<script>
    let tracks = [];
    let artists = [];
    function createCheckbox(id, name, type, new_class) {
        if (type == 'artist') {
            var hold = document.getElementById("final_artists");
            var satisfied = checkMaxArtists()
        }
        if (type == 'track') {
            var hold = document.getElementById("final_tracks");
            var satisfied = checkMaxTrack()
        }
        if(document.getElementById(id) == null && satisfied){
            let checkbox = document.createElement('input');
            checkbox.type = "checkbox";
            checkbox.name = new_class;
            checkbox.value = id;
            checkbox.id = id;
            checkbox.className = new_class;
            checkbox.checked = true;
            let label = document.createElement('label');
            label.className = new_class;
            label.className += " " + id;
            let tn = document.createTextNode(name);
            label.htmlFor=id;
            label.appendChild(tn); 
            hold.appendChild(label);
            hold.appendChild(checkbox);
        }
    }
</script>


<script>
    document.addEventListener('click', function (e) {
    if (hasClass(e.target, 'artist_check')) {
        let x = document.getElementsByClassName("artist_check");
        let arr = [];
        // console.log(x.length);
        // console.log("target")
        // console.log(e.target)
        let selected = e.target;
        let selectedArr = selected.classList
        // console.log("SELECTED'S Class")
        // console.log(selectedArr);
        // console.log("SELECTED LENGTH")
        // console.log(selectedArr.length)
        // console.log("SELECTED'S ID")
        // console.log(selected.id);
        for(let i = x.length-1; i >= 0; i--){
            // console.log("element")
            // console.log(x[i]);
            // console.log("element class list")
            // console.log(x[i].classList);
            // console.log("element id")
            // console.log(x[i].id);
            if(x[i].classList == selectedArr){
                // console.log("1 removed")
                x[i].checked = false;
                x[i].remove();
            }
            else if((x[i].id == selected.id) && selected.id !== "" && x[i].id !== ""){
                // console.log(typeof(x[i]))
                // console.log("2 removed")
                x[i].checked = false;
                x[i].remove();
                
            }
            else if(x[i].classList == selectedArr){
                // console.log("3 removed")
                x[i].checked = false;
                x[i].remove();
                
                // console.log(x.length);
            }
            else if(x[i].classList.contains(selected.id)){
                // console.log("4 removed")
                x[i].checked = false;
                x[i].remove();
                
            }
            else if(selectedArr.contains(x[i].id)){
                // console.log("5 removed")
                x[i].checked = false;
                x[i].remove();
            }
            // console.log("selected length on pass " + i)  ;         
            // console.log(x.length);
        }
        // console.log(x);
    } else if (hasClass(e.target, 'track_check')) {
        let y = document.getElementsByClassName("track_check");
        let arr = [];
        let selected = e.target;
        let selectedArr = selected.classList
        for(let i = y.length-1; i >= 0; i--){
            if(y[i].classList == selectedArr){
                y[i].checked = false;
                y[i].remove();
            }
            else if((y[i].id == selected.id) && selected.id !== "" && y[i].id !== ""){
                y[i].checked = false;
                y[i].remove();
                
            }
            else if(y[i].classList == selectedArr){
                y[i].checked = false;
                y[i].remove();
            }
            else if(y[i].classList.contains(selected.id)){
                y[i].checked = false;
                y[i].remove();
            }
            else if(selectedArr.contains(y[i].id)){
                y[i].checked = false;
                y[i].remove();
            }
        }
    }
}, false);

function hasClass(elem, className) {
    return elem.className.split(' ').indexOf(className) > -1;
}
</script>

<script>
    function checkMaxArtists() {
      let total=0;
      let type = typeof document.recForm.artist_check
      if(type == "undefined"){
          // This is the first time we are trying to add.
          return true;
      }
      else {
        // After it adds the first time, it does not create a list. So this is
        // the case where only one checkbox has been added since it would not
        // have a length property
        if(typeof document.recForm.artist_check.length == "undefined"){
            return true;
        }
        // It needs to be <= 2 since it is checking the length before it adds the
        // last item. So if it is 2 you are able to add the last one (to give a
        // max of 3).
        else if(document.recForm.artist_check.length <= 2)
        {
            return true;
        }
        // We have reached the max checkboxes.
        else{
            alert("Please select only three artists");
            return false;
        }
      }
    }
  </script>
  
  <script>
      function checkMaxTrack() {
        let total=0;
        let type = typeof document.recForm.track_check
        // If it is undefined, it means no such checkbox exists yet
        if(type == "undefined"){
            return true;
        }
        // If it is not undefined, it means a checkbox exists already, so we
        // have reached max tracks.
        else{
            alert("Please select only one song");
            return false;
        }
      }
    </script>

    <script>
        function updateTextInput(val) {
            document.getElementById('textInput').value=val; 
        }
    </script>

    <script>
        $('.recBtn').click(function(e) {
            let artist_ids = [];
            $.each($("input[name='artist_check']:checked"), function() {
                artist_ids.push($(this).val());
            });
            let track_id = [];
            $.each($("input[name='track_check']:checked"), function() {
                track_id.push($(this).val());
            });
            let features = [];
            $.each($("input[name='feature']"), function() {
                features.push($(this).val());
            });
            let genre = [];
            genre.push($('#genre').val());
            if (artist_ids.length >= 1 && track_id.length == 1) {
                console.log(artist_ids);
                console.log(track_id);
                console.log(genre)
                console.log(features);
                $.ajax({
                    type: 'POST',
                    url: '{% url "recommender:cust_rec_results" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        artist_id_list: artist_ids,
                        track_id_list: track_id,
                        genre_list: genre,
                        feature_list: features,
                    },
                    success: function(response) {
                        let url = response.redirect;
                        let s = "/"
                        window.location.href = s.concat(url);
                    },
                }); 
            }
            else {
                alert("Please make at least one selection for an artist and a song!");
                e.preventDefault();
            }
        });
    </script>
{% endblock %}