{% load static %}
{% if artist_searches %}

<table>
    {% for id, artist_info in artist_searches.items %}
    <!-- artist_info includes name of the artist (artist_info.0), 
        and the artist image (artist_info.1) -->
        <tr>
            <td>
                {% if artist_info.1 %}
                    <img src="{{ artist_info.1 }}" class="img-fluid" alt="..." width="30" height="30" onclick="createCheckbox('{{ id }}', '{{ artist_info.0 }}', 'artist')">
                {% endif %}
            </td>
            <td onclick="createCheckbox('{{ id }}', '{{ artist_info.0 }}', 'artist')">{{ artist_info.0 }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
