{% load static %}
{% if track_searches %}

<table>
    <tr><th>Songs</th></tr>
{% for id, track_info in track_searches.items %}
<!-- track_info includes the track name (track_info.0), track artist (track_info.1), 
    and the album image of the track (track_info.2) -->
    <tr>
        <td> 
            <button id="track{{ id }}" value='{{ id }}' type="button" class="btn">
                {% if track_info.2 %}
                <img src="{{ track_info.2 }}" class="img-fluid" alt="..." width="30" height="30">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                    </svg>
                {% endif %}
            </button> 
        </td>
        <td>{{ track_info.0 }}  -  {{ track_info.1 }}</td>  
        <script>
            $('#track{{ id }}').click(function(e) {
                let track_id = $(this).val();
                $.ajax({
                    url: "https://api.spotify.com/v1/me/player/play?device_id=" + device,
                    type: "PUT",
                    data: '{"uris": ["spotify:track:'+ track_id +'"]}',
                    beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + profile_token );},
                    success: function(data) { 
                        console.log('is this the data ' + data)
                        $('.fixed-bottom').show();
                    }
                });
            });
        </script>
    </tr>
    
{% endfor %}
    <tr><td><hr class="solid"></td></tr>
    <tr><th>Artists</th></tr>
{% for id, artist_info in artist_searches.items %}
<!-- artist_info includes name of the artist (artist_info.0), 
    and the artist image (artist_info.1) -->
    <tr>
        <td>
            {% if artist_info.1 %}
                <img src="{{ artist_info.1 }}" class="img-fluid" alt="..." width="30" height="30">
            {% endif %}
        </td>
        <td>{{ artist_info.0 }}</td>
    </tr>
{% endfor %}
    <tr><td><hr class="solid"></td></tr>
    <tr><th>Albums</th></tr>
{% for id, album_info in album_searches.items %}
<!-- album_info includes name of the album (album_info.0), artist name of the album (album_info.1),
    and the album image (artist_info.2) -->
    <tr>
        <td>
            <button id="album{{ id }}" value='{{ id }}' type="button" class="btn">
                {% if album_info.1 %}
                    <img src="{{ album_info.2 }}" class="img-fluid" alt="..." width="30" height="30">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                    </svg>
                {% endif %}
            </button>
        </td>
        <td>{{ album_info.0 }}  -  {{ album_info.1 }}</td>
        <script>
            $('#album{{ id }}').click(function(e) {
                let album_id = $(this).val();
                $.ajax({
                    url: "https://api.spotify.com/v1/me/player/play?device_id=" + device,
                    type: "PUT",
                    data: '{"context_uri": "spotify:album:'+ album_id +'"}',
                    beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + profile_token );},
                    success: function(data) { 
                        console.log('is this the data ' + data)
                        $('.fixed-bottom').show();
                    }
                });
            });
        </script>
    </tr>
{% endfor %}
</table>
{% endif %}
