{% extends 'base.html' %}

{% block title %} Song Search {% endblock %}

{% block content %}
<form method='post' action="/songp/">
    {% csrf_token %}
    <br>
    <center>
        <h2>Song Search</h2>
    </center>
    <br>
    <div>
        Song Title: {{ form.song_title }}
    </div>

    <button class="btn btn-success btn-lg" type="submit">Analyze</button>
</form>
<br>


{% if danceability %}

<td>
    <iframe src="https://open.spotify.com/embed/track/{{ id }}" width="300" height="380" 
    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </td>
    

<p>Track ID: {{ id }}</p>
<p>Danceability: {{ danceability }}</p>
<p>Acousticness: {{ acousticness }}</p>
<p>Energy: {{ energy }}</p>
<p>Instrumentalness: {{ instrumentalness }}</p>
<p>Speechiness: {{ speechiness }}</p>
<p>Loudness: {{ loudness }}</p>
<p>Tempo: {{ tempo }}</p>
<p>Valence: {{ valence }}</p>


{% endif %}

{% endblock %}