{% extends 'base.html' %}

{% load static %}

{% block title %} Song Search {% endblock %}

{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/song.css' %}">

<div class="row">
    <h1>Spotify Attribute Analyzer</h1>
    <center>
    <h2>Song Search</h2>
    <p style="width:770px; text-align: justify; text-align-last: center;">
        Spotify uses a variety of song attributes in order to determine the differences between songs, genres, etc.
        The PengBeats Spotify Attribute Analyzer's Artist Page allows you to search for a specific artist and list their songs with the highest/lowest value in certain attribtues.
        The Analyzer Song Page allows you to search for a specific song and will display the attributes of that song and its unique Spotify Track ID.
    </p>
    <br>
    <p>
        NOTE: If your search result is the incorrect song, you can search again with more information to narrow your result.
    </p>
    <p>
        Example: A search for "Twist and Shout" returns the Beatles' version, while "Twist and Shout Isley" returns they Isley Brothers' version.
    </p>
    <form method='post' action="/songp/">
        {% csrf_token %}
        <br>
        <br>
        <div>
            Song Title: {{ form.song_title }}
        </div>
    
        <button class="submit btn btn-outline-light" type="submit">Analyze</button>
    </form>
</center>
</div>

<div class="row">

    <div class="left-column">
        
        {% if danceability or acousticness or energy or instrumentalness or speechiness or loudness or tempo or valence %}
        <td>
            <iframe class="sample-player spRound" src="https://open.spotify.com/embed/track/{{ id }}" width="300" height="380" 
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </div>
    
    <div class="right_column">
        <h3>Spotify Attributes:</h3>
        <br>
        <h3>Track ID: <span class="song-data">{{ id }}</span></h3>
        <h3>Danceability: <span class="song-data">{{ danceability }}</span></h3>
        <h3>Acousticness: <span class="song-data">{{ acousticness }}</span></h3>
        <h3>Energy: <span class="song-data">{{ energy }}</span></h3>
        <h3>Instrumentalness: <span class="song-data">{{ instrumentalness }}</span></h3>
        <h3>Speechiness: <span class="song-data">{{ speechiness }}</span></h3>
        <h3>Loudness: <span class="song-data">{{ loudness }}</span></h3>
        <h3>Tempo: <span class="song-data">{{ tempo }}</span></h3>
        <h3>Valence: <span class="song-data">{{ valence }}</span></h3>
    </div>
    {% endif %}
</div>
<br>

{% endblock %}