{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Top Tracks{% endblock %}

{% block content %}

<table>
    <!-- Row 1 -->
    <tr>
        <!--  -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbMXbN3EUUhlg" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!--  -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbLnolsZ8PSNw" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
        </td>
        <!--  -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbJiZcmkrIHGU" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!--  -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbNBz9cRCSFkY" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
        </td>
        <!-- New Music Friday -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4JAvHpjipBk" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </tr>
    <!-- Row 2 -->
    <tr>
        <!-- Pop -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcBWIGoYBM5M" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Rock Classics -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXRqgorJj26U" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Hip Hop -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0XUsuxWHRQd" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Country -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1lVhptIYRda" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- K-Pop -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX9tPFwDMOaN1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </tr>
    <!-- Row 3 -->
    <tr>
        <!-- Classical -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWEJlAGA9gs0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Metal -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWTcqUzwhNmKv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Latin -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX10zKzsJ2jva" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- Christian -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcb6CQIjdqKy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!-- EDM -->
        <td>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4dyzvuaRJ0n" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </tr>
</table>

{% endblock %}