{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Top Playlists{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/top-playlists.css' %}">

<center><h1>Top Playlists</h1></center>
<center><p>Listen to the top playlists for the past week by users like you</p></center>

<ol>
    {% for playlist, total in top_playlists.items %}
        <li>
            {% if playlist.image %}
                <a href="{% url 'user:get_songs_playlist' playlist.user_profile_fk.user.id playlist.id %}">
                    <img src="{{ playlist.image.url }}" width="30px" height="30px" style="border-radius: 50%;">
                </a>
            {% else %}
                <a href="{% url 'user:get_songs_playlist' playlist.user_profile_fk.user.id playlist.id %}">
                    <img src="{% static 'images/noplaylistimage.png' type='image/png' %}" width="30px" height="30px" style="border-radius: 50%;">
                </a>
            {% endif %}
            <a href='{% url "user:get_songs_playlist" playlist.user_profile_fk.user.id playlist.id %}'><b>{{ playlist.name }}</b></a> - 
            <a href='{% url "user:profile" playlist.user_profile_fk.user.id %}'>{{ playlist.user_profile_fk.user.username }}</a>'s Playlist - ({{ total }}) </li>
    {% endfor %}
</ol>

{% endblock %}