{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | About Us{% endblock %}

{% block content %}
<br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <center>
        <!-- <img src="{% static 'images/pengbeats.png' type='image/png' %}" class="img-fluid" alt="..." width="200" height="200"> -->
        <h1>About Us</h1>
    <br>
    <p>
        Here at PengBeats, our mission is to provide you with the best possible listening experience.
    </p>
    <br>
    <p style="width:750px;">
        PengBeats is the result of a Spring 2021 Senior Project at Rowan University in Glassboro, NJ. Contributors to this project include:
        Joseph Frost, Katie Lee, Jacelynn Duranceau, Tucker Elliott, Marc Colin, Alex Caruso, Kevin Magill, and James Cino
    </p>
    <br>
    <br>
    <div style="color: #6197e7;">
        <table style="text-align: center;">
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'recommender:home' %}"><b>Home</b></a>
                    </label>
                </td>
            </tr>
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'recommender:top_tracks' %}"><b>Top Songs</b></a>
                    </label>
                </td>
            </tr>
            {% if user.is_authenticated %}
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'recommender:survey_genres' %}"><b>Survey</b></a>
                    </label>
                </td>
            </tr>
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'user:profile' user.id %}"><b>Profile</b></a>
                    </label>
                </td>
            </tr>
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'feed:feed' %}"><b>Social Feed</b></a>
                    </label>
                </td>
            </tr>
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="{% url 'user:update_profile' %}"><b>Settings</b></a>
                    </label>
                </td>
            </tr>
            {% endif %}
            <tr style="height: 60px;">
                <td>
                    <label>
                        <a href="https://en.wikipedia.org/wiki/Penguin" target="_blank"><b>Important Link</b></a>
                    </label>
                </td>
            </tr>
        </table>
    </div>
    </center>
<br>
{% endblock %}