{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Home{% endblock %}

{% block content %}
<br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <center>
        <!-- <img src="{% static 'images/pengbeats.png' type='image/png' %}" class="img-fluid" alt="..." width="200" height="200"> -->
        <h1>{{ name }} About Us</h1>
    <br>
    <p>
        Here at PengBeats, our mission is to provide you with the best possible listening experience.
    </p>
    <br>
    <p>
        Please use these resources to elevate your listening experience!
    </p>
    <br>
    <br>
    <table style="text-align: center;">
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'recommender:home' %}"><b>Home</b></a>
                </label>
            </td>
        </tr>
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'recommender:survey' %}"><b>Survey</b></a>
                </label>
            </td>
        </tr>
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'user:profile' user.id %}"><b>Profile</b></a>
                </label>
            </td>
        </tr>
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'feed:feed' %}"><b>Social Feed</b></a>
                </label>
            </td>
        </tr>
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'user:update_profile' %}"><b>Settings</b></a>
                </label>
            </td>
        </tr>
        <tr style="height: 60px;">
            <td>
                <label>
                    <a href="{% url 'recommender:top-tracks' %}"><b>Top Songs</b></a>
                </label>
            </td>
        </tr>
    </table>
    </center>
<br>
{% endblock %}