{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}PengBeats | Home{% endblock %}

{% block content %}
<br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <center>
        <img src="{% static 'images/penguin.png' type='image/png' %}" class="img-fluid" alt="..." width="150" height="150">
        <h1 class="pengbeatslogo">{{ name }}</h1>
    </center>
    <br>
    <center>
        <form id='ourSearchForm' method='POST' action='results/' style="color: #f5f7fa;">
            {% csrf_token %}
            <div class="input-group mb-3" style="max-width:40%; margin-left:auto; margin-right:auto" >
                {% render_field ourSearchForm.term class="form-control searchform_notrequired" type="text" placeholder="Search..." aria-describedby="button-addon2" id="searchterm" %}
                <button class="btn btn-outline-light" type="submit" id="button-addon2">Search</button>
            </div>
            <!-- {{ ourSearchForm.term }}
            <input type='submit' value='Search' class='ourSearchForm'> -->
            <div id="livesearch" style="width:40%; text-align: left;">
                {% include 'recommender/livesearch.html' %}  
            </div>
        </form>
        <br>
    </center>
<br> 
{% if profile %}
    {% if profile.linked_to_spotify and profile.is_premium %}
        {% include 'webplayer_footer.html' with profile=profile %}
    {% endif %}
{% endif %}       
<script src="{% static 'js/livesearch.js' %}"></script>

{% endblock %}