{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %} Following {% endblock %}

{% block content %}
<style>
    td{
        text-align: center;
        padding: 1%;
        font-weight: bold;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    } 
</style>
<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    Following
</h1>

    <!--Note this will have to match for one single user - the logged in one!!-->
    <table style="width:90%; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
        {% for user_to in following %}
        <tr>
            <td style="text-align: right;">
                <a href="{% url 'user:profile' user_to.user.id %}">
                    {% if user_to.profilepic %}
                        <img src="{{ user_to.profilepic.url }}" alt="" width="80" height="80" class="d-inline-block align-top">
                    {% else %}
                        <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" alt="" width="80" height="80" class="d-inline-block align-top">
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'user:profile' user_to.user.id %}">
                    <div class="user">
                        {{ user_to }} 
                    </div>
                </a>
            </td>
            <td>
                <!-- {{ follow.followers|intcomma }} followers -->
                {{ user_to.num_followers }} followers
            </td>
            <td>
                <a class="btn unfollowBtn" href="{% url 'user:unfollow' user.id user_to.user.id%}" role="button"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'user:user_list' %}" role="button">User List</a>
    <br>
{% endblock %}
