{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="w3-row-padding" style="margin-top:2%">
    <div class="w3-col m4 w3-center my_profile">
        {% if profile.profilepic %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{{ profile.profilepic.url }}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% else %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% endif %}
    
        <div>
            <h2 class="profile_header">
                <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong>
            </h2>
            <p style="margin-top: -10px; color:lightgray">
                @{{ profile.user.username }}
            </p>
            <p>
                <a href="{% url 'user:followers' profile.user.id%}" style="padding-right: 5px;">Followers</a>
                <a href="{% url 'user:following' profile.user.id%}" style="padding-left: 5px;">Following</a>
            </p>
        </div>

        {% if profile.description %}
            <h5 style="font-size: 20px;">
                {{ profile.description }}
            </h5>
        {% endif %}

        <h6 style="padding-bottom:20px; font-size: 13px;">
            DOB: {{ profile.birthdate }}
            (<i id="age"></i>)
        </h6>

        {% if profile.likes or profile.dislikes %}
            <div class="container" style="margin-left:auto; margin-right:auto; text-align:center">
                <table style="margin-left:auto; margin-right:auto;">
                    <tr>
                        {% if profile.likes %}
                            <th>Likes: </th>
                            <td style="word-break: break-all;">{{ profile.likes }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if profile.dislikes %}
                            <th>Dislikes: </th>
                            <td style="word-break: break-all;">{{ profile.dislikes }}</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        {% endif %}
        <br><br>
    </div>


    <div class="w3-col m6 w3-center" style="overflow-y: scroll; height: 500px">
        <h2><a href="{% url 'feed:feed' %}">Feed</a></h2>
        {% if post_list %}
            <div class="container feed_table">
                {% for post in post_list %}
                    <div class="row feed_row" >
                        <div class="col-2 post_image">
                            {% if post.user_profile_fk.profilepic %}
                                <img src="{{ post.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                            {% else %}
                                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p style="text-align: left; font-size: medium;">{{ post.user_profile_fk.user.first_name }} {{ post.user_profile_fk.user.last_name }} 
                                <span style="font-size: small;">@{{ post.user_profile_fk.user.username }}</span>
                            </p>
                            <p style="word-break: break-all; text-align: left; font-size: 13px;">{{ post.text }}</p>
                            <p style="font-size: x-small; text-align: right; margin-top:-10px">{{ post.date_last_updated|naturaltime }}</p>
                        </div>
                        <div class="col-1">
                            <div>
                                <a class="btn" href="{% url 'feed:delete_post' post.id %}" role="button" style="color:red">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Posts to show... Create some in Feed!</p>
        {% endif %}
    </div>


    <div class="w3-col m2 w3-center">
        <h2><a href="{% url 'user:following' user.id %}">Following</a></h2>
        <table style="display: inline-block; text-align: left;">
        {% for follower in follower_list %}
            <tr>
                <td>
                    {% if post.user_profile_fk.profilepic %}
                        <img src="{{ follower.user_profile_fk.profilepic.url }}" width="30" height="30" class="d-inline-block align-top">
                    {% else %}
                        <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="...">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'user:other_profile' follower.user.id %}">{{ follower.user.username }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div> 
<br>

<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<script>
    let birthday = new Date("{{ profile.birthdate|date:'F j, Y' }}");
    document.getElementById("age").innerHTML = get_age(birthday);
</script>
{% endblock %}