{% extends 'base.html' %}
{% load static %}

{% block title %}Playlists{% endblock %}

{% block content %}

<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    Playlists
</h1>

<button type="button" class="btn btn-dark" onclick="modalClick()" data-bs-toggle="modal" data-bs-target="#createplaylistmodal">
    Create Playlist
</button>
{% include 'profile/popup_playlist.html' %}

<table style="width:100%; margin-left:100px;">
    {% for playlist in playlists %}
    <tr>
        <td>
            {% if playlist.image %}
                <img src="{{ playlist.image.url }}" width="80px" height="80px"></img>
            {% else %}
            {% endif %}
        </td>
        <td>
            <a href="{% url 'user:get_songs_playlist' playlist.id%}">{{ playlist.name }}</a>
        </td>
        <td>
            {{ playlist.date_last_updated }}
        </td>
        <td>
            <a class="btn btn-dark" href="{% url 'user:delete_playlist' playlist.id%}" role="button">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
    var playlistModal = document.getElementById('createplaylistmodal');
    function modalClick(id) {
        window.history.pushState({},"", "/profile/popup_playlist/" + id );
        playlistModal.show();
    }  

    playlistModal.addEventListener('hidden.bs.modal', function (event) {
        window.history.replaceState({}, "", "{% url 'user:get_playlists' user.id %}")
    })
</script>



{% endblock %}