{% extends 'base.html' %}
{% load static %}

{% block title %}Playlists{% endblock %}

{% block content %}

<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    Playlists
</h1>

<table>
    {% for playlist in playlists %}
    <tr>
        <td>
            <a href="{% url 'user:get_songs_playlist' playlist.id%}">{{ playlist.name }}</a>
        </td>
        <td>
            {{ playlist.date_created }}
        </td>
    </tr>
    {% endfor %}
</table>



{% endblock %}