{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} {{ profile.user.username }}'s Profile{% endblock %}

{% block content %}


<div class="w3-row-padding" style="margin-top:2%">
    <div class="w3-col m4 w3-center my_profile">
        {% if profile.profilepic %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{{ profile.profilepic.url }}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% else %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% endif %}

        <div>
            <h2 style="font-family: 'Noto Sans JP', sans-serif;">
                <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong>
            </h2>
            <p style="margin-top: -10px; color:lightgray">
                @{{ profile.user.username }}
            </p>
            <p>
                <a href="{% url 'user:followers' profile.user.id%}" style="padding-right: 5px;">{{ profile.num_followers }} Followers</a>
                <a href="{% url 'user:following' profile.user.id%}" style="padding-left: 5px;">{{ profile.num_following }} Following</a>
            </p>
        </div>

        {% if profile.description %}
            <h5 style="font-size: 20px;">
                {{ profile.description }}
            </h5>
        {% endif %}

        <h6 style="padding-bottom:20px; font-size: 13px;">
            DOB: {{ profile.birthdate }}
            (<span id="age"></span>)
        </h6>

        {% if profile.likes or profile.dislikes %}
            <div class="container" style="margin-left:auto; margin-right:auto; text-align:center">
                <table style="margin-left:auto; margin-right:auto;">
                    <tr>
                        {% if profile.likes %}
                            <th>Likes: </th>
                            <td style="word-break: break-all; text-align: left;">{{ profile.likes }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if profile.dislikes %}
                            <th>Dislikes: </th>
                            <td style="word-break: break-all; text-align: left;">{{ profile.dislikes }}</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        {% endif %}
        {% if profile.user.id == user.id %}
            <a class="btn btn-dark" href="{% url 'user:link_spotify' %}" role="button">Link Spotify</a>
        {% else %}
            {% if nofollow %}

            {% elif is_following %}
                <a class="btn unfollowBtn" href="{% url 'user:unfollow' user.id profile.user.id%}" role="button"></a>
            {% else %}
                <a class="btn followBtn" href="{% url 'user:follow' user.id profile.user.id%}" role="button"></a>
            {% endif %}
        {% endif %}
        <br><br>
    </div>

    <div class="w3-col m6 w3-center">
        <div style="border-bottom: white double;">
            <div class="w3-row">
                <div class="w3-col s6">
                    <h2 id="feedheader" style="text-align: left; font-family: 'Noto Sans JP', sans-serif;"><a href="{% url 'feed:feed' %}">Feed</a></h2>
                </div>
                {% if profile.user.id == user.id %}
                <div class="w3-col s6" style="padding-top: 10px;">
                    <button type="button" class="btn btn-dark" style="float:right;" data-bs-toggle="modal" data-bs-target="#createmodal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-top:-3px">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        Post
                    </button>
                </div>
                {% endif %}
            </div> 
        </div>
        {% include 'profile/profile_feed.html' with post_list=post_list image=image %}
    </div>


    <div class="w3-col m2 w3-center" id="followingheader">
        <h2><a href="{% url 'user:following' profile.user.id %}" style="font-family: 'Noto Sans JP', sans-serif;text-decoration: none;">Following</a></h2>
        <table style="display: inline-block; text-align: left;">
        {% for follower in follower_list %}
            <tr>
                <td>
                    {% if follower.profilepic %}
                        <img src="{{ follower.profilepic.url }}" width="30" height="30" class="d-inline-block align-top">
                    {% else %}
                        <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="...">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'user:profile' follower.user.id %}">{{ follower.user.username }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div> 

{% if profile.user.id == user.id %}
<div style="width: 350px; text-align: center;">
    <h2>Music Feature Preferences</h2>

    Acousticness: {{ acousticness }}
    <br>
    0<progress min="0" max="1" value="{{ acousticness }}"></progress>1
    <br>

    Danceability: {{ danceability }}
    <br>
    0<progress min="0" max="1" value="{{ danceability }}"></progress>1
    <br>

    Energy: {{ energy }}
    <br>
    0<progress min="0" max="1" value="{{ energy }}"></progress>1
    <br>

    Instrumentalness: {{ instrumentalness}}
    <br>
    0<progress min="0" max="1" value="{{ instrumentalness }}"></progress>1
    <br>

    Speechiness: {{ speechiness }}
    <br>
    0<progress min="0" max="1" value="{{ speechiness }}"></progress>1
    <br>

    Loudness: {{ loudness }}
    <br>
    -60<progress min="0" max="60" value="{{ loudness_adjusted }}"></progress>0
    <br>

    Tempo: {{ tempo }}
    <br>
    50<progress min="50" max="150" value="{{ tempo }}"></progress>150
    <br>

    Valence: {{ valence }}
    <br>
    0<progress min="0" max="1" value="{{ valence }}"></progress>1
    <br>

 </div>
{% else %}
<div style="width: 350px; text-align: center;">
    {% if private_prefs %}
    <!-- You're viewing someone else's profile, so don't show their preferences if they don't want you to be able to see them -->
    {% else %}
    <h2>Music Feature Preferences</h2>

        Acousticness: {{ acousticness }}
        <br>
        0<progress min="0" max="1" value="{{ acousticness }}"></progress>1
        <br>

        Danceability: {{ danceability }}
        <br>
        0<progress min="0" max="1" value="{{ danceability }}"></progress>1
        <br>

        Energy: {{ energy }}
        <br>
        0<progress min="0" max="1" value="{{ energy }}"></progress>1
        <br>

        Instrumentalness: {{ instrumentalness}}
        <br>
        0<progress min="0" max="1" value="{{ instrumentalness }}"></progress>1
        <br>

        Speechiness: {{ speechiness }}
        <br>
        0<progress min="0" max="1" value="{{ speechiness }}"></progress>1
        <br>

        Loudness: {{ loudness }}
        <br>
        -60<progress min="0" max="60" value="{{ loudness_adjusted }}"></progress>0
        <br>

        Tempo: {{ tempo }}
        <br>
        50<progress min="50" max="150" value="{{ tempo }}"></progress>150
        <br>

        Valence: {{ valence }}
        <br>
        0<progress min="0" max="1" value="{{ valence }}"></progress>1
        <br>
        
    {% endif%}
</div>
{% endif %}


<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<script>
    let birthday = new Date("{{ profile.birthdate|date:'F j, Y' }}");
    document.getElementById("age").innerHTML = get_age(birthday);
</script>
{% include 'social_feed/popup_createpost.html' %}  
{% endblock %}
