{% load static %}
{% load humanize %}

<div class="container feed_table" style="overflow-y: scroll; height: 600px;">
    {% for post in post_list %}
        <div class="row" style="padding-top: 10px;  margin-bottom: -30px; z-index: -1;">
            <div class="col-2 post_image">
                {% if post.user_profile_fk.profilepic %}
                    <img src="{{ post.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                {% else %}
                    <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                {% endif %}
            </div>
            <div class="col-8">
                <p style="text-align: left; font-size: medium;">{{ post.user_profile_fk.user.first_name }} {{ post.user_profile_fk.user.last_name }} 
                    <span style="font-size: small; color:lightgray">@{{ post.user_profile_fk.user.username }}</span>
                </p>
                <p style="word-break: break-all; text-align: left; font-size: 13px;">{{ post.text }}</p>
                {% if post.type_post == "SongPost" %}
                    <iframe src="https://open.spotify.com/embed/track/{{ post.song }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                {% endif %}
            </div>
            <div class="col-2">
                <span style="font-size: x-small; text-align: right;">{{ post.date_last_updated|naturaltime }}</span>
            </div>
        </div>
        <div class="row" style="border-bottom:1px solid white;">
            <table style="float: right;">
                <tr>
                    <td>
                        <div class="btn-group dropend" style="float:right">
                            <a class="nav-link link-light" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href="myEditBtn{{ post.id }}" style="color:black" data-bs-toggle="modal" data-bs-target="#editmodal{{ post.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                        Edit
                                    </a> 
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'feed:delete_post' post.id %}" style="color:red">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                        Delete
                                    </a>
                                </li>
                            </ul>
                            {% include 'social_feed/edit_post.html' with post=post %}
                        </div>
                        <div class="btn-group" style="float:right">
                            <button id="comment_popup" type="button" onclick="modalClick('{{ post.id }}')" data-bs-toggle="modal" data-bs-target="#postmodal{{ post.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <small style="color:lightpink">{{ post.comment_set.count }}</small>
                            </button>  
                        </div>
                        {% include 'social_feed/popup_post.html' with post=post %}
                    </td>
                </tr>
            </table>
        </div>
        <script>
            var postModal = document.getElementById('postmodal{{ post.id }}');
            function modalClick(id) {
                window.history.pushState({},"", "/feed/popup_post/" + id );
                postModal.show();
            }  

            postModal.addEventListener('hidden.bs.modal', function (event) {
                window.history.replaceState({}, "", "{% url 'user:profile' user.id %}")
            })
        </script>
    {% empty %}
        <p>No Posts to show... Create some in Feed!</p>
    {% endfor %}
</div>