{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} {{ profile.user.username }}'s Profile{% endblock %}

{% block content %}

<div class="w3-row-padding" style="margin-top:2%">
    <div class="w3-col m4 w3-center my_profile">
        {% if profile.profilepic %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{{ profile.profilepic.url }}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% else %}
            <div class="text-center" style="padding-top: 20px">
                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" class="img-thumbnail" alt="..." width="200" height="200">
            </div>
        {% endif %}

        <div>
            <p style="font-size:xx-large; font-weight:800;">
                <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong>
                {% if profile.user.id == user.id or not private_profile or is_following %}
                {% elif private_profile%}
                    <img src="{% static 'images/private.png' type='image/png' %}" width="30px" height="30px">
                {% endif %}
            </p>
            <p style="margin-top:-20px;">
                @{{ profile.user.username }}
            </p>
        </div>

        {% if profile.user.id == user.id or not private_profile or is_following %}
            {% if profile.description %}
                <p style="font-size: 20px;">
                    {{ profile.description }}
                </p>
            {% endif %}

            {% if profile.likes or profile.dislikes or is_following %}
                <div class="container" style="margin-left:auto; margin-right:auto; text-align:center">
                    <table style="margin-left:auto; margin-right:auto;">
                        <tr>
                            {% if profile.likes %}
                                <th>Likes: </th>
                                <td style="word-break: break-all; text-align: left;">{{ profile.likes }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if profile.dislikes %}
                                <th>Dislikes: </th>
                                <td style="word-break: break-all; text-align: left;">{{ profile.dislikes }}</td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
                <br>
            {% endif %}
            <p>
                {% if profile.user.id == user.id or not private_profile or is_following %}
                    <a href="{% url 'user:followers' profile.user.id%}" style="padding-right: 5px;">{{ profile.num_followers }} Followers</a>
                    <a href="{% url 'user:following' profile.user.id%}" style="padding-left: 5px;">{{ profile.num_following }} Following</a>
                {% elif private_profile%}
                    <p>{{ profile.num_followers }} Followers {{ profile.num_following }} Following</p>
                {% endif %}
            </p>
            {% if profile.user.id == user.id and not profile.linked_to_spotify %}
                <a class="btn spotify"  href="{% url 'user:link_spotify' %}" role="button">Link Spotify</a>
            {% else %}
                {% if nofollow %}

                {% else %}
                    {% if is_following %}
                        <a class="btn unfollowBtn" href="{% url 'user:unfollow' profile.user.id%}" role="button"></a>
                    {% elif not is_following %}
                        <a class="btn followBtn" href="{% url 'user:follow' profile.user.id%}" role="button"></a>
                    {% else %}

                    {% endif %}
                {% endif %}
                
            {% endif %}
        {% endif %}
        <br><br>

        {% if profile.user.id == user.id %}
        <div class="center" style="text-align: center;">
            <h2>Music Preferences</h2>
    
            <table class="center">
                <tr>
                    <td colspan="3">
                        Acousticness: {{ acousticness }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ acousticness }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Danceability: {{ danceability }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ danceability }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Energy: {{ energy }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ energy }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Instrumentalness: {{ instrumentalness}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ instrumentalness }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Speechiness: {{ speechiness }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ speechiness }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Loudness: {{ loudness }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> -60 </td>
                    <td><progress min="0" max="60" value="{{ loudness_adjusted }}"></progress></td>
                    <td style="padding-left: 5px;"> 0 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Tempo: {{ tempo }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 50 </td>
                    <td><progress min="0" max="100" value="{{ tempo_adjusted }}"></progress></td>
                    <td style="padding-left: 5px;"> 150 </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Valence: {{ valence }}
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px;"> 0 </td>
                    <td><progress min="0" max="1" value="{{ valence }}"></progress></td>
                    <td style="padding-left: 5px;"> 1 </td>
                </tr>
            </table>
         </div>
        {% else %}
            {% if not private_profile or is_following %}
                {% if not private_prefs %}
                <!-- Ensure the public profile or person you are following has allowed their preferences to be visible, even to followers -->
                    <div class= "center" style="width: 350px; text-align: center; margin-right: auto;margin-left: auto;">
                        <h2>Music Preferences</h2>
                
                        <table class="center">
                            <tr>
                                <td colspan="3">
                                    Acousticness: {{ acousticness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ acousticness }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Danceability: {{ danceability }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ danceability }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Energy: {{ energy }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ energy }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Instrumentalness: {{ instrumentalness}}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ instrumentalness }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Speechiness: {{ speechiness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ speechiness }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Loudness: {{ loudness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> -60 </td>
                                <td><progress min="0" max="60" value="{{ loudness_adjusted }}"></progress></td>
                                <td style="padding-left: 5px;"> 0 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Tempo: {{ tempo }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 50 </td>
                                <td><progress min="0" max="100" value="{{ tempo_adjusted }}"></progress></td>
                                <td style="padding-left: 5px;"> 150 </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Valence: {{ valence }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"> 0 </td>
                                <td><progress min="0" max="1" value="{{ valence }}"></progress></td>
                                <td style="padding-left: 5px;"> 1 </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% else %}
                <!-- You're viewing someone else's profile, so don't show their preferences if they don't want you to be able to see them -->
                <!-- or the person's profile is private so don't show them anyway -->
            {% endif%}
        {% endif %}
    </div>

    {% if profile.user.id == user.id or not private_profile or is_following%}
    <div class="w3-col m6 w3-center header">
        <div style="border-bottom: white double;">
            <div class="w3-row">
                <div class="w3-col s6">
                    <h2 style="text-align: left;"><a href="{% url 'feed:feed' %}">Feed</a></h2>
                </div>
                {% if profile.user.id == user.id %}
                <div class="w3-col s6" style="padding-top: 10px;">
                    <button type="button" class="btn btn-dark" style="float:right;" data-bs-toggle="modal" data-bs-target="#createmodal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-top:-3px">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        Post
                    </button>
                </div>
                {% endif %}
            </div> 
        </div>
        {% include 'profile/profile_feed.html' with post_list=post_list image=image %}
    </div>
    

    <div class="w3-col m2 w3-center header">
        <h2><a href="{% url 'user:follow_page' profile.user.id %}" style="text-decoration: none;">Following</a></h2>
        <table style="display: inline-block; text-align: left;">
        {% for follower in follower_list %}
            <tr>
                <td>
                    {% if follower.profilepic %}
                        <img src="{{ follower.profilepic.url }}" width="30" height="30" class="d-inline-block align-top">
                    {% else %}
                        <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="...">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'user:profile' follower.user.id %}">{{ follower.user.username }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <br><br>
        <h2>Playlists</h2>
        <a href="{% url 'user:get_playlists' profile.user.id %}">
            @{{ profile.user.username }}'s Playlists
        </a>
    </div>
    {% endif %}
</div> 

<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<!-- <script>
    let birthday = new Date("{{ profile.birthdate|date:'F j, Y' }}");
    document.getElementById("age").innerHTML = get_age(birthday);
</script> -->
{% include 'social_feed/popup_createpost.html' %}  
{% endblock %}
