{% extends 'base.html' %}
{% load static %}

{% block title %}Playlist{% endblock %}

{% block content %}


<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    {% if playlist.image %}
        <img src="{{ playlist.image.url }}" width="50px" height="50px" style="border-radius: 50%;"></img>
    {% else %}
        <img src="{% static 'images/noplaylistimage.png' type='image/png' %}" width="50px" height="50px" style="border-radius: 50%;">
    {% endif %}
    Playlist: {{ playlist.name }}
</h1>

<div class="center" style="width:150px; text-align:center;">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editplaylistmodal{{ playlist.id }}">
        Edit Playlist
    </button>
    {% include 'profile/editplaylist_popup.html' %}
</div>

<table class="center" style="width:40%;">
    {% for id,song in songs.items %}
    <tr style="border-bottom: 1px solid black;">
        <td class="centered-column" style="width:400px; padding-top:8px; padding-bottom: 8px;">
            <iframe src='https://open.spotify.com/embed/track/{{ song }}' class="wp-block-embed-spotify" frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe> 
        </td>
        <td class="centered-column" style="padding-top:8px; padding-bottom: 8px;">
            <a class="btn btn-dark" href="{% url 'user:delete_song' playlist.id id %}" role="button">Delete Song</a>
        </td>
    </tr>
    {% endfor %}
</table>


<script>
    var editPlaylistModal = document.getElementById('editplaylistmodal{{ playlist.id }}');
    function modalClick() {
        window.history.pushState({},"", "/profile/editplaylist_popup/" );
        editPlaylistModal.show();
    }  

    editPlaylistModal.addEventListener('hidden.bs.modal', function (event) {
        window.history.replaceState({}, "", "{% url 'user:get_songs_playlist' playlist.id %}")
    })
</script>


{% endblock %}