{% extends 'base.html' %}
{% load static %}

{% block title %}Playlist{% endblock %}

{% block content %}


<h1 style="text-align: center; margin-top: 2%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
    {{ playlist.name }}
</h1>


<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editplaylistmodal{{ playlist.id }}">
    Edit Playlist
</button>
{% include 'profile/editplaylist_popup.html' %}

<table>
    {% for id,song in songs.items %}
    <tr>
        <td>
            <iframe src='https://open.spotify.com/embed/track/{{ song }}'  frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe> 
        </td>
        <td>
            <a class="btn btn-dark" href="{% url 'user:delete_song' playlist.id id %}" role="button">Delete Song</a>
        </td>
    </tr>
    {% endfor %}
</table>


<script>
    var editPlaylistModal = document.getElementById('editplaylistmodal{{ playlist.id }}');
    function modalClick() {
        window.history.pushState({},"", "/profile/editplaylist_popup/" );
        editPlaylistModal.show();
    }  

    editPlaylistModal.addEventListener('hidden.bs.modal', function (event) {
        window.history.replaceState({}, "", "{% url 'user:get_songs_playlist' playlist.id %}")
    })
</script>


{% endblock %}