{% extends 'base.html' %}

{% load static %}

{% block title %} Post {% endblock %}

{% block content %}
    <p>{{ post.text }}</p>
    {% if user.id == post.user_profile_fk.user.id %}
        by <a href="{% url 'user:profile' user.id %}">@{{ post.user_profile_fk.user.username }}</a>
    {% else %}
        by <a href="{% url 'user:other_profile' post.user_profile_fk.user.id %}">@{{ post.user_profile_fk.user.username }}</a>
    {% endif %}
    <p>at {{ post.date_last_updated }}</p>
    
    <h4>Comments</h4>
    <ul>
        {% for comment in comment_list %}
        <br>
            <li class="post">
                {% if user.id == comment.user_profile_fk.user.id %}
                    <a href="{% url 'user:profile' comment.user_profile_fk.user.id %}">
                        {% if post.user_profile_fk.profilepic %}
                            <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                        {% else %}
                            <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                        {% endif %}
                    </a>
                    <br>
                    <a href="{% url 'user:profile' user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                    <br>
                    {{ comment.text }} 
                {% else %}
                    <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">
                        {% if comment.user_profile_fk.profilepic %}
                            <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                        {% else %}
                            <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                        {% endif %}
                    </a>
                    <br>
                    <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                    <br>
                    {{ comment.text }}
                {% endif %}
                <br>
                at {{ comment.date_last_updated }}
            </li>
            <br>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}
    </ul>

    
    <form class='comment_form' method='POST' action='/feed/{{ post_id }}'>
        {% csrf_token %}
        {{ comment_form }}
        <input type='submit' value='Create Comment' class='comment_form'>
    </form>
{% endblock %}