{% extends 'base.html' %}

{% block title %} Posts {% endblock %}

{% block content %}
    <h1>Contextual Content</h1>

    <form class='post_form' method='POST' action='/feed/create_post/'>
        {% csrf_token %}
        {{ postform }}
        <input type='submit' value='Create Post' class='post_form'>
    </form>

    {% if post_list %}
        <ul>
            {% for post in post_list %}
                {{ post.text }}
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

{% endblock %}