{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %} Feed {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<h1 style="text-align: center;">Social Feed</h1>  


<div class="w3-row-padding" style="margin-top:2%;">
    <div class="w3-col m3 w3-center">
        <h4>Filter Feed</h4>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-secondary filterBtn" id="socialFilter">Social Posts</button>
            <button type="button" class="btn btn-secondary filterBtn" id="songFilter">Song Posts</button>
            <button type="button" class="btn btn-secondary filterBtn" id="playlistFilter">Playlist Posts</button>
            <button type="button" class="btn btn-secondary filterBtn" id="popFilter">Popularity</button>
        </div>
    </div>
    <div class="w3-col m6 w3-center">
        
        <form class='post_form' method='POST' action='/feed/create_post/'>
            {% csrf_token %}
            {% render_field postform.text class="form-control" id="text" rows="3" placeholder="Create a post..." %}
            </br>
            <input type='submit' value='Share' class='post_form btn btn-secondary' style='float: right;'>
        </form>
        </br>
        <h4>Posts</h4>
        <div class="container feed_table" style="overflow-y: scroll; height: 560px;" id="feed_table">
            {% include 'social_feed/feed_partial.html' %}
        </div>
    </div>
    <div class="w3-col m3 w3-center">
        <!-- <p>you can put stuff in here (this is a flex column)</p> -->
        <img src="{% static 'images/SocialPengo.png' type='image/png' %}" width="200" height="200">
    </div>
</div>
    
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/feed.js' %}"></script>
{% endblock %}