{% load static %}

<!-- Included in playlists.html and single_playlist.html -->
<div class="modal fade" id="playlistpostmodal{{ playlist.id }}" tabindex="-1" aria-labelledby="myPlaylistPostModalLabel" aria-hidden="true"  style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'feed:playlistpost' %}">
                {% csrf_token %}

                <div class="modal-header">
                    {% if not private_profile %}
                        <h5 class="modal-title" id="myPlaylistPostModalLabel">Share Playlist</h5>
                    {% else %}
                        <h5 class="modal-title" id="myPlaylistPostModalLabel">Unable to Share Playlist</h5>
                    {% endif %}
                </div>
            
                <div class="modal-body">
                    {% if not private_profile %}
                        <input type="hidden" id="playlist_id" name="playlist_id" value="{{ playlist.id }}">
                        Say something:
                        <textarea required class="form-control" aria-label="With textarea" id="post_text" name="post_text"></textarea>
                        Playlist to share: <a href="{% url 'user:get_songs_playlist' user_id playlist.id %}" target="_blank">{{ playlist.name }}</a>
                    {% else %}
                    You cannot share this playlist because your profile is currently private. Your profile's privacy takes precedence, so your playlist
                    cannot be shared even though it is not set to private itself.
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    {% if not private_profile %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                </div>
                
            </form>
        </div>
    </div>
</div>
  
<script>
    document.getElementById("post_text").value = "";
</script>