{% load static %}


<!-- Included in Profile Feed -->
    <div class="modal fade" id="postmodal{{ post.id }}" tabindex="-1" aria-labelledby="myPostModalLabel" aria-hidden="true"  style="color:black;">
        <div class="modal-dialog modal-lg modal-dialog-centered" >
          <div class="modal-content">
            <form method="post" action='{% url "feed:popup_post" post.id %}'>
                {% csrf_token %}
              
                <div class="modal-header">
                  <h5 class="modal-title" id="myPostModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              
                <div class="modal-body">
                    <p style="word-break: break-all;">{{ post.text }}</p>
                    {% if user.id == post.user_profile_fk.user.id %}
                        by <a href="{% url 'user:profile' user.id %}">@{{ post.user_profile_fk.user.username }}</a>
                    {% else %}
                        by <a href="{% url 'user:other_profile' post.user_profile_fk.user.id %}">@{{ post.user_profile_fk.user.username }}</a>
                    {% endif %}
                    <p>at {{ post.date_last_updated }}</p>
    
                    <ul style="overflow-y: scroll; height: auto; max-height:400px">
                        {% for comment in post.comment_set.all %}
                            <li class="post">
                                {% if user.id == comment.user_profile_fk.user.id %}
                                    <a href="{% url 'user:profile' comment.user_profile_fk.user.id %}">
                                        {% if comment.user_profile_fk.profilepic %}
                                            <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                                        {% else %}
                                            <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                                        {% endif %}
                                    </a>
                                    <br>
                                    <a href="{% url 'user:profile' user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                                    <br>
                                    {{ comment.text }} 
                                {% else %}
                                    <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">
                                        {% if comment.user_profile_fk.profilepic %}
                                            <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                                        {% else %}
                                            <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                                        {% endif %}
                                    </a>
                                    <br>
                                    <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                                    <br>
                                    {{ comment.text }}
                                {% endif %}
                                <br>
                                at {{ comment.date_last_updated }}
                            </li>
                            <br>
                        {% empty %}
                            <p>There are no comments.</p>
                        {% endfor %}
                    </ul>
                </div>
                
    
                <div class="modal-footer">
                    <textarea id="comment_text{{ post.id }}" required class="form-control" aria-label="With textarea" name="comment_text"></textarea>
                    <button id="close" type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="commentbtn btn-primary">Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
<script>

</script>