{% load static %}

<!-- Included in playlists.html and single_playlist.html -->
<div class="modal fade" id="playlistpostmodal{{ playlist.id }}" tabindex="-1" aria-labelledby="myPlaylistPostModalLabel" aria-hidden="true"  style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'feed:playlistpost' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title" id="myPlaylistPostModalLabel">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <input type="hidden" id="playlist_id" name="playlist_id" value="{{ playlist.id }}">
                    <textarea required class="form-control" aria-label="With textarea" id="post_text" name="post_text"></textarea>
                    Playlist to share: <a href="{% url 'user:get_songs_playlist' user_id playlist.id %}" target="_blank">{{ playlist.name }}</a>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
  
<script>
    document.getElementById("post_text").value = "";
</script>