<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ post.text }}
                {{ commentform }}
                {% if comment_list %}
        <ul>
            {% for comment in comment_list %}
            <br>
                <li class="post">
                    {% if user.id == comment.user_profile_fk.user.id %}
                        <a href="{% url 'user:profile' comment.user_profile_fk.user.id %}">
                            {% if post.user_profile_fk.profilepic %}
                                <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                            {% else %}
                                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                            {% endif %}
                        </a>
                        <br>
                        <a href="{% url 'user:profile' user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                        <br>
                        {{ comment.text }} 
                    {% else %}
                        <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">
                            {% if comment.user_profile_fk.profilepic %}
                                <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                            {% else %}
                                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                            {% endif %}
                        </a>
                        <br>
                        <a href="{% url 'user:other_profile' comment.user_profile_fk.user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                        <br>
                        {{ comment.text }}
                    {% endif %}
                    <br>
                    at {{ comment.date_last_updated }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no comments.</p>
    {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>