{% load static %}

<!-- Included in Results -->
<div class="modal fade" id="songpostmodal{{ track }}" tabindex="-1" aria-labelledby="mySongPostModalLabel" aria-hidden="true"  style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'feed:songpost' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title" id="mySongPostModalLabel">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <input type="hidden" id="track_id" name="track_id" value="{{ track }}">
                    <textarea required class="form-control" aria-label="With textarea" id="post_text" name="post_text"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
  
<script>
    document.getElementById("post_text").value = "";
</script>