{% extends 'base.html' %}

{% load static %}

{% block title %} Post {% endblock %}

{% block content %}
    <h1>Social Feed</h1>

    <form class='post_form' method='POST' action='/feed/create_post/'>
        {% csrf_token %}
        {{ postform }}
        <input type='submit' value='Create Post' class='post_form'>
    </form>

    <h4>Post {{ post_id }}</h4>

    {% for post in post_list %}
        {% if post.user_profile_fk.user.id == user.id %}
            <p>{{ post.text }}</p>
            <a href="{% url 'user:profile' post.user_profile_fk.user.id %}">@{{ post.user_profile_fk.user.username }}</a>
            <p>{{ post.date_created}}</p>
            {% if post.user_profile_fk.profilepic %}
                <img src="{{ post.user_profile_fk.profilepic.url }}" href="{% url 'user:profile' post.user_profile_fk.user.id %}" width="80" height="80" class="d-inline-block align-top">
            {% else %}
                <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" href="{% url 'user:profile' post.user_profile_fk.user.id %}" width="80" height="80" class="d-inline-block align-top" alt="...">
            {% endif %}
        {% else %}
        <p>{{ post.text }}</p>
        <a href="{% url 'user:other_profile' post.user_profile_fk.user.id %}">@{{ post.user_profile_fk.user.username }}</a>
        <p>{{ post.date_created}}</p>
        {% if post.user_profile_fk.profilepic %}
            <img src="{{ post.user_profile_fk.profilepic.url }}" href="{% url 'user:other_profile' post.user_profile_fk.user.id %}" width="80" height="80" class="d-inline-block align-top">
        {% else %}
            <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" href="{% url 'user:other_profile' post.user_profile_fk.user.id %}" width="80" height="80" class="d-inline-block align-top" alt="...">
        {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}