{% extends 'base.html' %}

{% load static %}

{% block title %} Post {% endblock %}

{% block content %}
    <p>{{ post.text }}</p>
    {% if post.type_post == "SongPost" %}
        <iframe src="https://open.spotify.com/embed/track/{{ post.song }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endif %}
    <p> 
        {% if post.type_post == "PlaylistPost" %}
            <a href="{% url 'user:profile' post.playlist.user_profile_fk.user.id %}">@{{ post.playlist.user_profile_fk.user.username }}</a>'s playlist: <a href="{% url 'user:get_songs_playlist' post.playlist.user_profile_fk.user.id post.playlist.id %}">{{ post.playlist.name }}</a>
        {% endif %}
    </p>

    by <a href="{% url 'user:profile' post.user_profile_fk.user.id %}">@{{ post.user_profile_fk.user.username }}</a>
    <p>at {{ post.date_last_updated }}</p>
    
    <h4>Comments</h4>
    <ul>
        {% for comment in comment_list %}
        <br>
            <li class="post">
                <a href="{% url 'user:profile' comment.user_profile_fk.user.id %}">
                    {% if post.user_profile_fk.profilepic %}
                        <img src="{{ comment.user_profile_fk.profilepic.url }}" width="40" height="40" class="d-inline-block align-top">
                    {% else %}
                        <img src="{% static 'images/noprofilepic.jpg' type='image/jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="...">
                    {% endif %}
                </a>
                <br>
                <a href="{% url 'user:profile' user.id %}">@{{ comment.user_profile_fk.user.username }}</a>
                <br>
                {{ comment.text }} 
                <br>
                at {{ comment.date_last_updated }}
                {% if comment.user_profile_fk.user.id == user.id %}
                    <div class="btn-group">
                        <a class="nav-link link-light" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" href="myEditComBtn{{ comment.id }}" style="color:black" data-bs-toggle="modal" data-bs-target="#editcommodal{{ comment.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                    Edit
                                </a> 
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'feed:delete_comment' comment.id %}" style="color:red">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    Delete
                                </a>
                            </li>
                        </ul>
                        {% include 'social_feed/edit_comment.html' with comment=comment post=post %}
                    </div>
                {% endif %}
            </li>
            <br>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}
    </ul>

    
    <form class='comment_form' method='POST' action='/feed/{{ post_id }}'>
        {% csrf_token %}
        {{ comment_form }}
        <input type='submit' value='Create Comment' class='comment_form'>
    </form>
{% endblock %}