body {
    font-family: 'Montserrat', sans-serif;
    color: #d9dadc; /* Baby Penguin White */
    background-color: #323F4B;
}

.navbar {
    background-color: #1F2933;
}

.pengbeatslogo {
    font-family: "Comic Sans MS", "Comic Sans";
    text-transform: none;
}

h1 {
    color: #f99108;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 270%;
    text-shadow: 2px 2px 5px #252525;
}

h2, h3, h4, h5, h6 {
    color: #f99108;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.accent {
    color: #f99108;
}

.spotify {
    background-color: #1ed761; /* Spotify Green */
    font-weight: bold;
}

.spBtnText {
    vertical-align: middle;
    color: #1F2933;
    font-weight: bold;
}

.spotify:hover .spBtnText{
    color: white;
}

a:hover {
    color: #f99108;
}

a {
    text-decoration: none;
}


.btn-dark {
    background-color: #1F2933;
    font-weight: bold;
}

.playlist {
    box-shadow: 0rem 0.3rem 0.1rem 0.01rem #1F2933;
    border-radius: 0.5rem;
}


/* CSS for modal popups */
.modal-content  {
    background-color: #a0bed9;
}

.modal-title {
    color: #001629;
    font-size: 200%;
}

.modal-headings {
    color: #001629;
}

.modalBtn {
    background-color: #1F2933;
    border-color: #1F2933;
    color: #d9dadc;
    font-weight: bold;
}

.modalBtn:hover {
    border-color: #a0bed9;
    background-color: #1F2933;
    color: #d9dadc;
}

.modalClose {
    font-weight: bold;
}

.modalClose:hover {
    color: black;
}
/* End modal CSS */


/* Makes spotify widgets round */
.spRound {
    border-radius: 0.3rem;
}

.accordion td {
    font-size: small;
}

.btn.btn-warning.signup {
    background-color: #f99108;
    border-color: #f99108;
    font-weight: bold;
    color: #1F2933;
}

.btn.btn-warning.signup:hover {
    background-color: #f99108;
    border-color: #f99108;
    font-weight: bold;
    color: #1F2933;
}

.btn.btn-warning.signup:active {
    background-color: #f99108 !important;
    border-color: #f99108;
    font-weight: bold;
    outline: none !important;
    color: #1F2933;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
}

.settingSideNav {
    background-color: #d9dadc;
}

.dropdown-menu-dark {
    background-color: #1F2933;
}
