body {
    /* background-color: #5bb1ec;  */ /* Blue Marc Likes */
    background-color: #323F4B;
}

h1 {
    color: #f5f7fa;
    font-size: 500%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2 {
    color: #f5f7fa;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

h3 {
    color: #f5f7fa;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

h4 {
    color: #f5f7fa;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

p {
    color: #f5f7fa;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

ul {
    color: #f5f7fa;
}

ol {
    color: #f5f7fa;
}

li {
    color: #f5f7fa;
}

button {

}

hr {
    
}

.navbar {
    background-color: #1F2933;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

.navbar-brand {
    color: #f99108;
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
}