/* .theme_background {
    background-color:#343a40;
    color: ghostwhite;
} */

.my_profile {
    display: inline-block; 
    text-align: center;
    padding: 10px;
} 

.my_profile th {
    padding-right: 10px;
}


.sidenav {
    width: 160px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    display: block;
    color:black;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.profile_sf {
    background-color: purple;
    padding:10px;
    width: 600px;
}

.profile_following {
    background-color: rgb(56, 72, 139);
    padding:10px;
}

.feed_table {
    margin: auto;
    justify-content: center;
    display:run-in;
}

.feed_table td {
    padding-left:20px;
}

.post_image {
    justify-content: flex-end;
    display:flex;
    overflow: auto;
}

.feed_row {
    border-bottom: 1px solid white;
    padding-top: 10px;
}

.buttons_profile {
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 5px;
}

.buttons {
    width: 1%;
    white-space: nowrap;
}

/* Start Custom Scrollbar */
::-webkit-scrollbar {
    width: 1.5vh;
    }
    
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
}
    
::-webkit-scrollbar-thumb {
    background:#a3a3a3; 
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    background:#727272; 
}
/* End Custom Scrollbar */

#comment_popup {
    cursor: pointer; 
    background-color: transparent;  
    border: transparent;
    color: white;
}

.searchbar table {
    background-color: lightblue;
    border: 3px #1F2933 solid;
    width:100%;
}

.navsearch {
    z-index: 1; 
    position: fixed; 
    margin-left: 53.5%;
}

.searchbar hr {
    color:#1F2933;
}

.searchbar td, th {
    padding:1%;
}



/* #songprogress::-moz-range-track {
    width: 100%;
    background-color: lightgray;
}

#songprogress::-moz-range-thumb {
    border-radius: 100%;
    background-color: lightgray;
}

#songprogress::-moz-range-progress {
    background-color: #a0bed9;
    border: 1px solid #a0bed9;
}
   */


#currentTime, #totalTime {
    font-size: x-small;
    position:fixed; 
    margin-top:auto;
    margin-bottom: auto;
}

.searchform_notrequired {
    border: 0;
    box-shadow: none;
}