.theme_background {
    background-color:#343a40;
    color: ghostwhite;
}

.my_profile {
    /* background-color: darkslateblue;  */
    /* box-shadow: 5px 10px 8px slategray */
    display: inline-block; 
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    right:10px;
    top:10;
} 

.my_profile th {
    padding-right: 10px;
}

.profile_header {
    padding-top: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.sidenav {
    width: 160px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    display: block;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.profile_sf {
    background-color: purple;
    padding:10px;
}

.profile_following {
    background-color: rgb(56, 72, 139);
    padding:10px;
}

.profile_table {
    width:100%;
}

.profile_table td {
    padding:10px;
}