.btn btn-outline-light{
    background-color: transparent;

}
iframe {
    height: 80px;
    width: 250px;
}
tr{
    /* background-color: #2e3842; */
    margin-bottom: 10px;
    border-spacing: 15px;
    padding: 15px;
}
td{
    /* background-color: #2e3842; */
    margin-right:20px;
    margin-bottom:20px;
    border-spacing: 15px;
    padding: 15px;
}

#button_format{
    margin-top:10px;
    
}
#refreshBtn{
 margin-left:5px;
}


.form-check-input:checked{
    background-color: #f99108;
    border-color:#324353;
}
.form-check-input{
    background-color:#d9dadc;
    border-color:#324353;
}

.form-check-input:active, .form-check-input:focus{
    border-color:#d9dadc;
    -webkit-box-shadow: inset 0 1px 1px rgb(224,130,7),0 0 8px rgb(224,130,7);
    box-shadow: inset 0 1px 1px rgb(224,130,7),0 0 8px rgb(224,130,7);
}