.btn btn-outline-light{
    margin-left:100px;
    background-color: transparent;
    border:white;
    border-width: 5 px;
}
tr{
    /* background-color: #2e3842;; */
    opacity:80%;
    border:black solid 1px;

}
.form-check-input:checked{
    background-color: #f99108;
}
.form-check-input{
    background-color:#d9dadc;
}

#genretable {
    width:100%;
}