.btn btn-outline-light{
    margin-left:100px;
    background-color: transparent;
    border:white;
    border-width: 5px;
}
tr{
    /* background-color: #2e3842; */
    height: 75px;
    padding-bottom: 10px;
    
}
td{
    font-size: 125%;
}
.form-check-input:checked{
    background-color: #f99108;
    border-color:#324353;
}
.form-check-input{
    background-color:#d9dadc;
    border-color:#324353;
}

.form-check-input:active, .form-check-input:focus{
    border-color:#d9dadc;
    -webkit-box-shadow: inset 0 1px 1px rgb(224,130,7),0 0 8px rgb(224,130,7);
    box-shadow: inset 0 1px 1px rgb(224,130,7),0 0 8px rgb(224,130,7);
}

#genretable {
    width:100%;
}