.btn btn-outline-light{
    background-color: transparent;

}
tr{
    background-color: #2e3842;
    border:black solid 1px;
    border-spacing: 15px;
    padding:15px;

}
td{
    background-color: #2e3842;
    border: black solid 1px;
    margin-right:20px;
    margin-bottom:20px;
    border-spacing: 15px;
    padding:15px;


   
}
#button_format{
    margin-top:10px;
}
#refreshBtn{
    margin-left:5px;
   }
.form-check-input:checked{
    background-color: #f99108;
}