.btn btn-outline-light{
    margin-left:100px;
    background-color: transparent;
    border:white;
    border-width: 5px;
}
tr{
    /* background-color: #2e3842; */
    opacity:80%;
    padding-bottom: 10px;
}
.form-check-input:checked{
    background-color: #f99108;
}
.form-check-input{
    background-color:#d9dadc;
}

#genretable {
    width:100%;
}