{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<br>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class="container2">
    <h1><center>Login</center></h1>
    <small><small><center>Please log in so we can recommend you better music!</center></small></small>
    <br>
    <div class="form-group">
        <form method="POST" action='/user/login/'>
            {% csrf_token %}
            <div class="form-floating mb-3" style="color:black">
                {% render_field form.username class="form-control" type="text" id="username" %}
                <label for="username">Username</label>
            </div>
            <div class="form-floating" style="color:black">
                {% render_field form.password class="form-control" type="password" id="password" %}
                <label for="password">Password</label>
            </div>


            <br>
            <center><button class="btn btn-outline-light" type="submit">Login</button>
            <br><br>
        </form>
        Don't have an account? <a href="{% url 'user:signup' %}" target="blank"><br><strong>Register Here</strong></a>!</center>
    </div>
{% endblock %}