{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Survey{% endblock %}

{% block content %}
<center>
<h3>Survey</h3>
</center>
<br>
<!-- Survey Created by James, Kevin and Alex -->
<div>
  <p id="question"></p>
<form action = "/survey/" method = "GET" >
  <div class = "form-check">
    <input class="form-check-input" type="radio" name="Form1"  checked>
    <label class="form-check-label" for="option0" id="option0"></label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="Form1"  >
    <label class="form-check-label" for="option1" id ="option1"></label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="Form1"  >
    <label class="form-check-label" for="option2" id="option2"></label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="Form1"  >
    <label class="form-check-label" for="option3" id="option3"></label>
  </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Form1"  >
      <label class="form-check-label" for="option4" id="option4">
        
</label>
<script type ="text/javascript" src="{% static 'js/question.js' %}">
</script>
  </div>
</div>
<button type="button" onclick ="increment_and_reload()" class="btn btn-success" >Submit</button>
</form>
</div>

{% endblock %}