{% extends 'base.html' %}

{% load static %}

{% block title %}PengBeats | Survey{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/survey_artists.css' %}">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Yoinked from https://www.plus2net.com/javascript_tutorial/checkbox-limit.php -->
<script type="text/javascript">
  function checkMax() {
    console.log("Check")
    let total=0;
    for(var i=0; i < document.artistForm.art.length; i++){
      if(document.artistForm.art[i].checked){
        console.log("true");
        total = total + 1;
        console.log(total);
      }
      if(total > 3){
        alert("Please select only three artists");
        document.artistForm.art[i].checked = false;
        return false;
      }
    }
  }
</script>
<script type="text/javascript">
  function checkMin() {
    $.each($("input[name='art']:checked"), function() {
        checked.push($(this).val());
    });
    let total=0;
    for(var i=0; i < document.artistForm.art.length; i++){
      if(document.artistForm.art[i].checked){
        total = total + 1;
       }
      if(total < 1){
        alert("Please select at least one artist") 
        document.artistForm.art[i] = false ;
        return false;
      }
    }
    return true;
  } 
</script>

<center>
  <h1 style="font-size: 400%;">Survey</h1>
</center>
<br>

<center>
<h3>Pick up to 3 artists you like for the genre {{ genre }}.</h3>
</center>
<form name="artistForm" method="post">
  {% csrf_token %}
  <div class="row justify-content-center">
  <table id = "table1">
    <tr>
      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.0 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <input type="checkbox" id="g1" name="art" value="{{ artist_ids.0 }}" class="form-check-input" onclick="checkMax()">
        <label for="g1">{{ artist_names.0 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.1 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <input type="checkbox" id="g2" name="art" value="{{ artist_ids.1 }}" class="form-check-input" onclick="checkMax()">
        <label for="g2">{{ artist_names.1 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.2 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g3" name="art" value="{{ artist_ids.2 }}" class="form-check-input" onclick="checkMax()">
        <label for="g3">{{ artist_names.2 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.3 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g4" name="art" value="{{ artist_ids.3 }}" class="form-check-input" onclick="checkMax()">
        <label for="g4">{{ artist_names.3 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.4 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g5" name="art" value="{{ artist_ids.4 }}" class="form-check-input" onclick="checkMax()">
        <label for="g5">{{ artist_names.4 }}</label><br>
      </td>
    </tr>

    <tr>
      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.5 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g6" name="art" value="{{ artist_ids.5 }}" class="form-check-input" onclick="checkMax()">
        <label for="g6">{{ artist_names.5 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.6 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        
        <input type="checkbox" id="g7" name="art" value="{{ artist_ids.6 }}" class="form-check-input" onclick="checkMax()">
        <label for="g7">{{ artist_names.6 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.7 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g8" name="art" value="{{ artist_ids.7 }}" class="form-check-input" onclick="checkMax()">
        <label for="g8">{{ artist_names.7 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.8 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g9" name="art" value="{{ artist_ids.8 }}" class="form-check-input" onclick="checkMax()">
        <label for="g9">{{ artist_names.8 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.9 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g10" name="art" value="{{ artist_ids.9 }}" class="form-check-input" onclick="checkMax()">
        <label for="g10">{{ artist_names.9 }}</label><br>
      </td>
    </tr>

    <tr>
      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.10 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        
        <input type="checkbox" id="g11" name="art" value="{{ artist_ids.10 }}" class="form-check-input" onclick="checkMax()">
        <label for="g11">{{ artist_names.10 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.11 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g12" name="art" value="{{ artist_ids.11 }}" class="form-check-input" onclick="checkMax()">
        <label for="g12">{{ artist_names.11 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.12 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g13" name="art" value="{{ artist_ids.12 }}" class="form-check-input" onclick="checkMax()">
        <label for="g13">{{ artist_names.12 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.13 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g14" name="art" value="{{ artist_ids.13 }}" class="form-check-input" onclick="checkMax()">
        <label for="g14">{{ artist_names.13 }}</label><br>
      </td>

      <td>
        <iframe src="https://open.spotify.com/embed/artist/{{ artist_ids.14 }}" class="wp-block-embed-spotify spRound" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        <input type="checkbox" id="g15" name="art" value="{{ artist_ids.14 }}" class="form-check-input" onclick="checkMax()">
        <label for="g15">{{ artist_names.14 }}</label><br>
      </td>
    </tr>
  </table>
</div>
<div id = 'button_format' class="pull-left bottom-left">
  <button type="button" class="btn btn-outline-light" id = "songBtn" >Submit</button>


  <button type="button" class="btn btn-outline-light" id = "refreshBtn" >Refresh</button>
</div>
  <script>
    $("#refreshBtn").click(function(e) {
      $('input[name="art"]').each(function() {
        this.checked = false;
      });
      location.reload(true);
    })

    $('#songBtn').click(function(e) {
        let artist_ids = [];
        $.each($("input[name='art']:checked"), function() {
            artist_ids.push($(this).val());
        });
        if (artist_ids.length >= 1) {
            console.log(artist_ids);
            $.ajax({
                type: 'POST',
                url: '{% url "recommender:send_artists" genre_stack songs_list %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    artist_id_list: artist_ids,
                },
                success: function(response) {
                  let url = response.redirect;
                  //console.log(genre_stack)
                  // let string = '{% url "recommender:survey_artists" '
                  let s = "/"
                  window.location.href = s.concat(url);
                  // string = "http://localhost:8000/survey_artists/"
                  // window.location.href = string.concat(genre_stack)
                }
            });
        }
        else {
            e.preventDefault();
        }
    });
  </script>
</form>


{% endblock %}